<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Posts</h2>

    <!--  <p>Mis à jour : {{lastUpdate | async | date: 'short' | uppercase }}</p>-->

      <ul class="list-group">
        <!--<app-appareil *ngFor="let appareil of appareils" [appareilName]="appareil.name" [appareilStatus]="appareil.status"></app-appareil>
-->     <app-post-list [posts]="posts"></app-post-list>

      </ul>

    </div>
  </div>
</div>
