<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': postLikeIt > 0,
                'list-group-item-danger': postLikeIt < 0}">
  <div class="pull-right"> {{datePost | date:'short'}}</div>
  <h4 [ngStyle]="{color: getColor()}"> {{ postName }}  </h4>
  <h5>{{postContent}}</h5>
  <button class="btn btn-success" (click)="likeIt()">Like it</button>
  <button class="btn btn-danger" (click)="dontLikeIt()">Don't Like it</button>
</li>
